<div class="content">
    <div class="content_lft">
        <img src="../../../assets/public/images/img_9.png" alt="" />
    </div>
    <div class="content_rgt">
        <div class="register_sec content" style="height:400px;font-size: 18px;">
            <h1>Invite Your Friend</h1>
            <form [formGroup]="inviteForm" (ngSubmit)="invite(inviteForm)">
                <ul>
                    <li><span>Enter Email</span><input type="email" [class.is-invalid]="inviteForm.get('email').touched || inviteForm.get('email').invalid" placeholder="Enter email" formControlName="email"></li>
                    <li><input [disabled]="inviteForm.invalid" type="submit" value="Invite"></li>
                </ul>
            </form>
            <div class="popup_sec" id="" [ngStyle]="!show && {'display': 'none'}">
                <div class="clos_btn"><img src="images/clos.png" alt="" id="clos_pop" /></div>
                <div class="man_contnt">
                    {{msg}}<br>
                    <input type="submit" value="Ok" style="margin-top: 20px;" (click)="onDone()">
                </div>
            </div>
            <div class="man_contnt  popup_reg" [ngStyle]="!wait && {'display': 'none'}">
                <img src="../../../assets/public/images/spinner.gif" alt="">
            </div>
        </div>
    </div>
</div>