<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="brand" href="">PPL</a>
            <div class="pro_info pull-right">
                <div class="pro_icn"><img src="{{profilePic}}"></div>
                <div class="pro_txt" style="color: beige;">{{username}}<b class="caret"></b></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="#">My Profile</a></li>
                    <li><a tabindex="-1" href="#">Message Box</a></li>
                    <li><a tabindex="-1" href="#">Change Language</a></li>
                    <li><a tabindex="-1" href="#">Logout</a></li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="#">
                            <input type="text" placeholder="search">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-collapse collapse" id="my_nav">
                <ul class="nav">
                    <li class="active"> <a routerLink="/dashboard">Home</a> </li>
                    <li class=""> <a routerLink="/dashboard/profile">My Profile</a> </li>
                    <li class=""> <a routerLink="/dashboard/resetPassword">Reset Password</a> </li>
                    <li class="" (click)="logout()"> <a>logout</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="header_lft">
        <div class="logo">
            <a href="#"><img src="../../../assets/public/images/logo.png"></a>
        </div>
        <div class="navigatn">
            <ul style="display: flex;">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#"> E-Coupons </a></li>
                <li><a href="#">E-Brands </a></li>
                <li><a href="#"> Resuse Market </a></li>
                <li><a href="#"> Lost and Found</a></li>
            </ul>
        </div>
    </div>

    <div class="header_rgt" *ngIf="username">
        <div class="flag_div"><img src="../../../assets/public/images/flag.png"></div>
        <input type="text" placeholder="Search" class="txt_box">
        <div class="msg_box">
            <a href="#" routerLink="/dashboard/notifications">
                <span class="msg_count">{{notificationCount}}</span>
            </a>
        </div>

        <div class="info_div">
            <div class="image_div" *ngIf="username"> <img src="{{profilePic}}" alt="{{username}}"> </div>
            <div class="username" *ngIf="username" routerLink="/dashboard/profile">{{username}}</div>
            <select class="info_div1 timeline_dropdown" (change)="goTo($event.target)">
        <option value="/dashboard">Dashboard</option>
        <option value="/dashboard/profile"> My Profile</option>
        <option value="/dashboard/resetPassword"> Reset Password</option>
        <option (click)="logout()" value='logout'>Logout</option>
      </select>

        </div>
    </div>
    <div class="man_contnt  popup_reg" [ngStyle]="!wait && {'display': 'none'}">
        <img src="../../../assets/public/images/spinner.gif" alt="">
    </div>
</div>