<div class="content">
    <div class="content_rgt">
<div class="register_sec">
    <h1>Forgot Password</h1>
    <form class="form" [formGroup]="forgotForm" (ngSubmit)="forgotPasswordCheck(forgotForm)">
    <ul>
    <li><span>Enter E-mail ID</span><input type="text" required name="username" formControlName="username" placeholder="example@gmail.com"></li>
     <div *ngIf="username.errors && username.touched" class="text-danger">
      <span *ngIf="username.errors.required">Please enter your username</span>
      <span *ngIf="username.errors.email">Invalid email try again</span>
    </div>
    <li><span>What's Your Pet Name ?</span><input type="text" required name="securityAns" formControlName="securityAns" placeholder="please enter your security ans "></li>
     <div *ngIf="securityAns.errors && username.touched" class="text-danger">
      <span *ngIf="securityAns.errors.required">Please enter your answer</span>
    </div>
    <li><span>Enter New Password</span><input type="password" required name="cpassword" formControlName="cpassword" placeholder="enter your password"></li>
    <div *ngIf="cpassword.errors && username.touched" class="text-danger">
     <span *ngIf="cpassword.errors.required">Please enter your Password</span>
   </div>
  
    <li><input type="submit" [disabled]="forgotForm.invalid" value="Submit"></li>
    </ul>
</form>
</div>
</div>
<div class="popup_sec" id="pop_forgt" [ngStyle]="!check && {'display': 'none'}">
    <div class="clos_btn"><img src="images/clos.png"  alt="" id="clos_pop"/></div>
    <div class="pop_hdr"></div>
    <div class="man_contnt">
    <span>{{userMsg}}</span>
    <input type="submit" value="Ok" (click)="onDone()">
    </div>
</div>
<div class="popup_sec" id="pop_forgt" [ngStyle]="!loading && {'display': 'none'}">
    <div class="clos_btn"><img src="images/clos.png"  alt="" id="clos_pop"/></div>
    <div class="pop_hdr"></div>
    <div class="man_contnt">
        <img src="../../../assets/public/images/spinner.gif"  style="background-color: #cccccc" alt="">
    </div>
</div>
<div class="content_lft">
    <app-home></app-home>
</div>
    