<div class="register_sec" style="height:360px;">
    <h1>Reset Password</h1>
    <form [formGroup]="resetForm" (ngSubmit)="changePassword(resetForm)">
        <ul>
            <li><span>Enter Old Password</span><input type="text" placeholder="Enter your new password" formControlName="password"></li>
            <li><span>Enter New  Password</span><input type="text" placeholder="Enter your password again" formControlName="cpassword"></li>
            <li><input type="submit" value="Submit"></li>
        </ul>
    </form>
</div>
<div class="popup_sec" id="" [ngStyle]="!show && {'display': 'none'}">
    <div class="clos_btn"><img src="images/clos.png" alt="" id="clos_pop" /></div>
    <div class="man_contnt">
        {{msg}}<br>
        <input type="submit" value="Ok" style="margin-top: 20px;" (click)="onDone()">
    </div>
</div>
<div class="man_contnt  popup_reg" [ngStyle]="!wait && {'display': 'none'}">
    <img src="../../../assets/public/images/spinner.gif" alt="">
</div>